<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="wrapper">
        <section class="reset_password_form_container">
            <a href="{% url 'coreapp:core'%}" class="back_link icon-circle-left"></a>
            <div class="form_container_logotype">
                <span class="form_logotype_text">Lists</span>
            </div>
            <div class="default_login">
                <form action="{% url 'account_reset_password'%}" method="post" class="reset_password_form_inputs">
                    {%csrf_token%}
                    <h2 class="default_title">Reset password</h2>
                    <input class="reset_password_input" type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" required="" id="id_email">
                    <button type="submit" class="reset_password_submit_button">Reset password</button>
                </form>
            </div>
        </section>
    </div>

    <script src="{%static 'scripts/scripts.js' %}"></script>
</body>

</html>