<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load allauth account %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="wrapper">
        <section class="change_password_form_container">
            <a href="{% url 'coreapp:core'%}" class="back_link icon-circle-left"></a>
            <div class="form_container_logotype">
                <span class="form_logotype_text">Lists</span>
            </div>
          <div class="default_login">
            <h2 class="default_title">Reset password</h2>
            <div class="login_error_message">
              <p class="error_message_text">We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes</p>
            </div>
          </div>

        </section>
    </div>

    <script src="../scripts/scripts.js"></script>
</body>

</html>