<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load allauth account %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="wrapper">
        <section class="change_password_form_container">
            <a href="{% url 'coreapp:core'%}" class="back_link icon-circle-left"></a>
            <div class="form_container_logotype">
                <span class="form_logotype_text">Lists</span>
            </div>
            <div class="default_change_password">
                {% if messages %}
                    <div class="login_error_message">
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <p class="error_message_text">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                <form class="change_password_form_inputs" action="{% url 'account_change_password' %}" method="post">
                            {% csrf_token %}
                            <h2 class="default_title">Change password</h2>
                            <input class="change_setting_input" type="password" name="oldpassword" placeholder="Current password" autocomplete="current-password" required="" id="id_oldpassword">
                            <input class="change_setting_input" type="password" name="password1" placeholder="New password" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                            <input class="change_setting_input" type="password" name="password2" placeholder="New password (again)" required="" id="id_password2">
                            <button type="submit" class="change_settings_button">Change password</button>
                            {% if form.errors %}
                            <div class="login_error_message">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <p class="error_message_text">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        </form>
{% endif %}
            </div>
        </section>
    </div>

    <script src="../scripts/scripts.js"></script>
</body>

</html>