@font-face {
    font-family: AlexBrush;
    src: url(../fonts/fonts/AlexBrush-Regular.ttf);
}
@font-face {
    font-family: Lora;
    src: url(../fonts/fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../fonts/fonts/Rubik-Regular.ttf);
}
