<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load allauth i18n %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="header_container1200">
                <div class="header_content">
                    <div class="header_logotype">
                        <a href="{% url 'coreapp:core'%}" class="header_logotype_link">
                            <span class="header_logotype_text">Lists</span>
                        </a>
                    </div>
                    <nav class="navigation">
                        <ul class="navigation_manu">
                            <li class="navigation_item"><a href="{% url 'moviesapp:catalog' %}"
                                    class="navigation_link">Catalog</a></li>
                        </ul>
                    </nav>
                    {% if user.is_authenticated %}
                    <div class="header_account">
                        <div class="header_account_detail">
                            <a href="{% url 'profileapp:profile' %}" class="header_account_detail_link">
                                <img src="{{profile.profile_img.url}}" alt="Avatar" class="header_account_img">
                            </a>
                        </div>
                        <nav class="navigation">
                            <ul class="navigation_manu">
                                <li class="navigation_item"><a href="{% url 'moviesapp:catalog' %}"
                                        class="navigation_link">Catalog</a></li>
                            </ul>
                        </nav>
                        <div class="header_account_menu icon-menu3">
                            <div class="dropdown_menu">
                                <ul class="dropdown_items">
                                    <li class="dorpdown_item"><a href="{% url 'profileapp:profile' %}"
                                            class="dropdown_item_link ">Account</a></li>
                                    <li class="dorpdown_item"><a href="{% url 'profileapp:profile_settings' %}"
                                            class="dropdown_item_link">Settings</a></li>
                                    <li class="dorpdown_item"><a href="#" class="dropdown_item_link">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="header_login">
                        <a href="{% url 'account_login' %}" class="header_login_button">login | registration</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="main_container1200">
            <main class="main">
                <div class="account_settings_panel">
                    <div class="panel_items">
                        <a href="{% url 'profileapp:profile' %}" class="panel_item">{{ user.username }}</a>
                        <a href="{%url 'profileapp:list'%}" class="panel_item">List</a>
                        <a href="{% url 'profileapp:profile_settings' %}" class="panel_item">Settings</a>

                    </div>
                    <a href="#" class="panel_item_logout">Logout</a>
                </div>

                <div class="list_container">
                    <div class="lists_menu">
                        <a href="" class="lists_link">All</a>
                        <a href="" class="lists_link">Planned</a>
                        <a href="" class="lists_link">Viewed</a>
                        <a href="" class="lists_link">Abandoned</a>
                        <a href="" class="lists_link">Postponed</a>
                    </div>
                    <div class="list_adding_items">
                        <a href="#" class="link_on_list_item">
                            <div class="list_adding_item">
                                <div class="list_adding_item_poster">
                                    <img src="/static/profile_img/mv_poster.png" alt="Poster" class="poster_img">
                                </div>
                                <div class="list_adding_item_info">
                                    <p>№1<span></span></p>
                                    <p>Name:<span>The Shawshank Redemption</span></p>
                                    <p>Duration:<span>2h 32m</span></p>
                                    <p>Release date:<span>Sep 23, 1994</span></p>
                                    <p>Viewed date:<span>Sep 13, 2010</span></p>
                                    <p>IMDB rating:<span>9.5/10</span></p>
                                    <p>Seelf rating:<span>9/10</span></p>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </main>
        </div>
        <footer class="footer">

        </footer>
    </div>

    </div>

    <div class="open_overlay">
        <div class="overlay">
            <h2 class="overlay_title">Are you shure?</h2>
            <p class="overlay_explanation">You will no longer be logged in on the current browser!</p>
            <div class="overlay_btns">
                <form action="{% url 'account_logout'%}" method="post" class="overlay_form">
                    {% csrf_token %}
                    <button type="submit" class="logout_button">Logout</button>
                    <a href="" class="cancel_overlay">Cancel</a>
                </form>
            </div>
        </div>
    </div>


    <script src="{%static 'scripts/scripts.js' %}"></script>
</body>

</html>